.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header {
  font-weight: bold;
  font-size: 1.6em;
  padding: 0.4em 0;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

.amounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: black;
  border-radius: 8px;
  margin-top: 1em;
  padding: 1em;
  background-color: #ffe896;
  margin: 1em;
  border-radius: 8px;
}
.amounts p {
  margin: 0.4em;
}

.recipe {
  background-color: #dbf4ad;
  padding: 0.8em;
  margin: 1em;
  border-radius: 8px;
}
.recipe p {
  font-size: 0.8em;
}

.label {
  font-size: 0.8em;
  margin-bottom: 0.8em;
}

.input {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background-color: #f5f7f8;
  height: 1em;
  margin: 1em;
  padding: 1em;
  background: white;
  margin-top: 1em;
  text-align: center;
  width: 16%;
}

.submit {
  width: 40%;
  background: #f7edc8;
  margin-top: 1em;
  padding: 1em;
  border: none;
  border-radius: 8px;
}
.submit:hover {
  background: #ffe896;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
