.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-size: calc(16px + 2vmin);
  color: black;
  background: url(./assets/lemon.png), linear-gradient(#f6b95d, #f48381);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  /* background-image: linear-gradient(#f6b95d, #f48381); */
}

.container {
  height: 96vh;
  display: grid;
  grid-template-areas:
    "header "
    "form"
    "amounts";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  .container {
    grid-template-rows: auto auto 1fr;
  }
}
