.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: #fff6d6;
  background-image: linear-gradient(#f6b95d, #f48381);
}

.container {
  margin: 2em;
  display: grid;
  grid-template-areas:
    "header "
    "recipe"
    "form"
    "amounts";
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  .container {
    grid-template-areas:
      "header recipe"
      "form amounts";
    grid-template-rows: 400px 400px;
    grid-template-columns: 400px 400px;
  }
}
